{% extends "dashboard/base_dashboard.html" %}
{% load staticfiles %}
{% load humanize %}
{% load bootstrap4 %}

{% block page_title %}{{ title }}{% endblock page_title %}

{% block dashboard_section %}

    <form method="post" action="{{ action_url }}" class="form">
        <div class="card no-border bg-transparent">
            <div class="card-body px-0">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="heading heading-6 strong-600">{{ title }}</h3>

                        {% if form_tips %}
                          <p class="c-gray-light mt-2">
                            {{form_tips}}
                          </p>
                        {% endif %}

                        {% csrf_token %}
                        {% bootstrap_form form %}

                        <p>Click below to confirm you want to delete <strong>{{instance}}</strong> from your resume.</p>

                        {% buttons %}
                          <button type="submit" class="btn btn-danger">Delete {{instance}}</button>
                        {% endbuttons %}

                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock dashboard_section %}



