{% extends "dashboard/base_dashboard.html" %}
{% load staticfiles %}
{% load humanize %}
{% load bootstrap4 %}

{% block page_title %}{{ form_title }}{% endblock page_title %}

{% block dashboard_section %}

    <form method="post" action="{{ action_url }}" class="form">
        <div class="card no-border bg-transparent">
            <div class="card-body px-0">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="heading heading-6 strong-600">{{ form_title }}</h3>

                        {% if form_tips %}
                          <div class="alert alert-info">
                            {{form_tips}}
                          </div>
                        {% endif %}

                        {% csrf_token %}
                        {% bootstrap_form form %}
                        {% buttons %}
                          <button type="submit" class="btn btn-primary">Save</button>
                        {% endbuttons %}
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock dashboard_section %}


{% block scripts %}
    {{ form.media }}
{% endblock scripts %}
