{% load staticfiles %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{STRINGS.site_name}} | {% block title %}{% endblock title %}</title>

{% block metadata %}{% endblock metadata %}

<!-- Bootstrap -->
<link rel="stylesheet" href="{% static 'theme/vendor/bootstrap/css/bootstrap.min.css' %}" type="text/css">

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700|Catamaran:900" rel="stylesheet">

<!-- Plugins -->
<link rel="stylesheet" href="{% static 'theme/vendor/swiper/css/swiper.min.css' %}">
<link rel="stylesheet" href="{% static 'theme/vendor/hamburgers/hamburgers.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'theme/vendor/animate/animate.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'theme/vendor/fancybox/css/jquery.fancybox.min.css' %}">

<!-- Icons -->
<link rel="stylesheet" href="{% static 'theme/fonts/font-awesome/css/font-awesome.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'theme/fonts/ionicons/css/ionicons.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'theme/fonts/line-icons/line-icons.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'theme/fonts/line-icons-pro/line-icons-pro.css' %}" type="text/css">

<!-- Linea Icons -->
<link rel="stylesheet" href="{% static 'theme/fonts/linea/arrows/linea-icons.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'theme/fonts/linea/basic/linea-icons.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'theme/fonts/linea/ecommerce/linea-icons.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'theme/fonts/linea/software/linea-icons.css' %}" type="text/css">

<!-- Global style (main) -->
<link id="stylesheet" type="text/css" href="{% static 'theme/css/boomerang-startup-app.min.css' %}" rel="stylesheet" media="screen">

<!-- Custom style -->
<link type="text/css" href="{% static 'identity/css/custom-styles.css' %}" rel="stylesheet">

<!-- Favicon -->
<link href="{% static STRINGS.favicon_image %}" rel="icon" type="image/png">

{% block styles %}{% endblock styles %}

</head>
<body>


<!-- MAIN WRAPPER -->
<div class="body-wrap">
    <div id="st-container" class="st-container">

        <div class="st-pusher">
            <div class="st-content">
                <div class="st-content-inner">

                    <!-- Header -->
                    <div class="header">

                        <!-- Navbar -->
                        <nav class="navbar navbar-expand-lg navbar--bold navbar-light bg-default  navbar--bb-1px">
                            <div class="container navbar-container">
                                <!-- Brand/Logo -->
                                <a class="navbar-brand text-primary" style="font-family: 'Catamaran', sans-serif; font-weight: 700; font-size: 36px;" href="/">{{STRINGS.site_name}}</a>

                                <div class="d-inline-block">
                                    <!-- Navbar toggler  -->
                                    <button class="navbar-toggler hamburger hamburger-js hamburger--spring" type="button" data-toggle="collapse" data-target="#navbar_main" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="hamburger-box">
                                            <span class="hamburger-inner"></span>
                                        </span>
                                    </button>
                                </div>

                                <div class="collapse navbar-collapse align-items-center justify-content-end" id="navbar_main">
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a href="" class="nav-link">&nbsp;</a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </nav>
                    </div>

                    {% bootstrap_messages %}

					<section class="slice sct-color-1">
					    <div class="container">
					        <div class="row justify-content-center">
					            <div class="col-lg-8">

				                    {% block content %}{% endblock content %}
				                </div>
				            </div>
				        </div>
				    </section>


                </div>
            </div>
        </div><!-- END: st-pusher -->
    </div><!-- END: st-container -->
</div><!-- END: body-wrap -->

<!-- SCRIPTS -->
<a href="#" class="back-to-top btn-back-to-top"></a>

<!-- Core -->
<script src="{% static 'theme/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'theme/vendor/popper/popper.min.js' %}"></script>
<script src="{% static 'theme/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'theme/js/slidebar/slidebar.js' %}"></script>
<script src="{% static 'theme/js/classie.js' %}"></script>

<!-- Bootstrap Extensions -->
<script src="{% static 'theme/vendor/bootstrap-notify/bootstrap-growl.min.js' %}"></script>
<script src="{% static 'theme/vendor/scrollpos-styler/scrollpos-styler.js' %}"></script>

<!-- Plugins: Sorted A-Z -->
<script src="{% static 'theme/vendor/adaptive-backgrounds/adaptive-backgrounds.js' %}"></script>
<script src="{% static 'theme/vendor/countdown/js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'theme/vendor/dropzone/dropzone.min.js' %}"></script>
<script src="{% static 'theme/vendor/easy-pie-chart/jquery.easypiechart.min.js' %}"></script>
<script src="{% static 'theme/vendor/fancybox/js/jquery.fancybox.min.js' %}"></script>
<script src="{% static 'theme/vendor/flatpickr/flatpickr.min.js' %}"></script>
<script src="{% static 'theme/vendor/flip/flip.min.js' %}"></script>
<script src="{% static 'theme/vendor/footer-reveal/footer-reveal.min.js' %}"></script>
<script src="{% static 'theme/vendor/gradientify/jquery.gradientify.min.js' %}"></script>
<script src="{% static 'theme/vendor/headroom/headroom.min.js' %}"></script>
<script src="{% static 'theme/vendor/headroom/jquery.headroom.min.js' %}"></script>
<script src="{% static 'theme/vendor/input-mask/input-mask.min.js' %}"></script>
<script src="{% static 'theme/vendor/instafeed/instafeed.js' %}"></script>
<script src="{% static 'theme/vendor/milestone-counter/jquery.countTo.js' %}"></script>
<script src="{% static 'theme/vendor/nouislider/js/nouislider.min.js' %}"></script>
<script src="{% static 'theme/vendor/paraxify/paraxify.min.js' %}"></script>
<script src="{% static 'theme/vendor/select2/js/select2.min.js' %}"></script>
<script src="{% static 'theme/vendor/sticky-kit/sticky-kit.min.js' %}"></script>
<script src="{% static 'theme/vendor/swiper/js/swiper.min.js' %}"></script>
<script src="{% static 'theme/vendor/textarea-autosize/autosize.min.js' %}"></script>
<script src="{% static 'theme/vendor/typeahead/typeahead.bundle.min.js' %}"></script>
<script src="{% static 'theme/vendor/typed/typed.min.js' %}"></script>
<script src="{% static 'theme/vendor/vide/vide.min.js' %}"></script>
<script src="{% static 'theme/vendor/viewport-checker/viewportchecker.min.js' %}"></script>
<script src="{% static 'theme/vendor/wow/wow.min.js' %}"></script>

<!-- Isotope -->
<script src="{% static 'theme/vendor/isotope/isotope.min.js' %}"></script>
<script src="{% static 'theme/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>



<!-- App JS -->
<script src="{% static 'theme/js/boomerang.min.js' %}"></script>

</body>
</html>
