{% extends "theme/base.html" %}
{% load staticfiles %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block header_bar %}{% endblock header_bar %}

{% block content %}

    <section class="slice-lg has-bg-cover bg-size-cover" style="background-image: url({{STRINGS.background_image}}); background-position: bottom center;">
        <div class="container">
            <div class="row justify-content-center cols-xs-space">
                <div class="col-lg-6">
                    <div class="form-card form-card--style-2 z-depth-2-top">
                        <div class="form-header text-center">
                            <div class="form-header-icon">
                                <i class="icon ion-log-in"></i>
                            </div>
                        </div>
                        <div class="form-body">

                            <div class="text-center px-2">
                                <h4 class="heading heading-4 strong-400">{% trans "Create a new account" %}</h4>
                                <p class=" mb-4"><small>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</small></p>
                            </div>

                            {% bootstrap_messages %}

                            <form class="signup form-default" id="signup_form" method="post" action="{% url 'account_signup' %}">
                              {% csrf_token %}
                              {% bootstrap_form form %}
                              {% if redirect_field_value %}
                              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                              {% endif %}
                              <div class="mt-1 ">
                                <small class="">By signing up, you agree to the <a href="{% url 'terms_page' %}" target="_blank">Terms of Use</a> and <a href="{% url 'privacy_page' %}" target="_blank">Privacy Policy</a></small>
                              </div>
                              {% buttons %}
                                <button type="submit" class="btn btn-styled btn-base-1 mt-4">{% trans "Sign Up" %} &raquo;</button>
                              {% endbuttons %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
