{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Update Profile" %}</h1>

<form class="form" id="update_profile" method="post" action="{% url 'update_profile' %}">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
  {% endbuttons %}
</form>

{% endblock %}
